*{margin: 0 auto; padding: 0 auto; }


.identificao > h1{
    text-align: center;     
    padding-top: 50px;
    color: black;
}
.identificao > h2{
    text-align: center; 
    padding-bottom: 50px;
    color: black;
}

form{
    text-align: center;
}
input{
    padding-bottom: 5px;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;


}